<main class="comment-type-index">
  <header>
    <% if @admin_user %>
      <ul class="user-bar">
        <li><%= link_to image_tag("icons/svg/create", alt:"Create Comment Type", title:"Create Comment Type", class:"user-icon"), new_comment_type_path %></li>
      </ul>
    <% end %>

    <h1>Comment Types</h1>
  </header>

  <ul class="info-list">
    <% @comment_types.each do |ct| %>
      <li>
        <article class="comment-type-box">
          <h3><%= link_to ct.name, comment_type_path(ct) %> <bdi>- <%= ct.description %></bdi></h3>
        </article>
      </li>
    <% end %>
  </ul>
</main>
