<main class="comment-type-show">
  <% if @admin_user %>
    <header>
      <ul class="user-bar">
        <li><%= link_to image_tag("trashcan.svg", alt:"Delete", title:"Delete", class:"icon"), @comment_type, method: :delete, data: { confirm: 'Are you sure?' }, id:"delete-comment-type" %></li>
        <li><%= link_to image_tag("pencil.svg", alt:"Edit", title:"Edit", class:"icon"), edit_comment_type_path(@comment_type), id:"edit-comment-type" %></li>
      </ul>
    </header>
  <% end %>

  <h1><%= @comment_type.name %></h1>
  <p><%= @comment_type.description %></p>
</main>
