<main class="mood-index">
  <header>
    <ul class="admin-bar">
      <li><%= link_to image_tag("icons/svg/create.svg", alt:"Create Mood", title:"Create Mood", class:"user-icon"), new_mood_path, id:"create-mood" %></li>
    </ul>
    <h1>Moods</h1>
  </header>

  <ul class="info-list">
    <% @moods.each do |mood| %>
      <li>
        <article class="mood-box">
          <h3><%= link_to mood.name, mood_path(mood) %>
            <% if @admin_user %>
              <ul class="admin-bar">
                <li><%= link_to image_tag("icons/svg/trashcan.svg", alt:"Delete", title:"Delete", class:"icon"), mood, method: :delete, data: { confirm: 'Are you sure?' }, id:"delete-mood" %></li>
                <li><%= link_to image_tag("icons/svg/pencil.svg", alt:"Edit", title:"Edit",
                class:"icon"), edit_mood_path(mood), id:"edit-mood" %></li>
              </ul>
            <% end %>
          </h3>
        </article>
      </li>
    <% end %>
  </ul>
</main>
