<main class="mood-index">
  <header>
    <ul class="user-bar">
      <li><%= link_to image_tag("icons/svg/create", alt:"Create Mood", title:"Create Mood", class:"user-icon"), new_mood_path, id:"create-mood" %></li>
    </ul>
    <h1>Moods</h1>
  </header>

  <ul class="info-list">
    <% @moods.each do |mood| %>
      <li>
        <article class="mood-box">
          <h3><%= link_to mood.name, mood_path(mood) %></h3>
        </article>
      </li>
    <% end %>
  </ul>
</main>
