<main class="tempo-index">
  <header>
    <% if @admin_user %>
      <ul class="user-bar">
        <li><%= link_to image_tag("create.svg", alt:"Create Tempo", title:"Create Tempo", class:"user-icon"), new_tempo_path, id:"create-tempo" %></li>
      </ul>
    <% end %>

    <h1>Tempos</h1>
  </header>

  <ul class="info-list">
    <% @tempos.each do |tempo| %>
      <li>
        <article class="tempo-box">
          <h3><%= link_to tempo.name, tempo_path(tempo) %> <bdi>- <%= tempo.description %></bdi></h3>
        </article>
      </li>
    <% end %>
  </ul>
</main>
