<main class="tempo-show">
  <% if @admin_user %>
    <aside>
      <ul class="user-bar">
        <li><%= link_to image_tag("icons/svg/trashcan", alt:"Delete", title:"Delete", class:"icon"), @tempo, method: :delete, data: { confirm: 'Are you sure?' }, id:"delete-tempo" %></li>
        <li><%= link_to image_tag("icons/svg/pencil", alt:"Edit", title:"Edit",
        class:"icon"), edit_tempo_path(@tempo), id:"edit-tempo" %></li>
      </ul>
    </aside>
  <% end %>

  <h1><%= @tempo.name %></h1>
  <p><%= @tempo.description %></p>
</main>
