<table id='dance-directions-table' class='dance-directions-table'>
  <th class="seq header"> </th>
  <th class="mar header">Mark</th>
  <th class="mea header">Measure</th>
  <th class="dir header">Direction</th>
  <th class="pos header hidden-all">Position</th>
  <% dds.each do |dd| %>
    <%= render 'dance_directions/dance_direction_row', dd: dd %>
  <% end %>
</table>
