<main class="dance-direction-show">
  <h3>
    <%= link_to @dance_direction.dance.title, dance_path(@dance_direction.dance) %>
  </h3>
  <%= render 'dance_direction_table', dds: [@dance_direction] %>
</main>
