<main class="meter-index">
  <header>
    <ul class="user-bar">
      <li><%= link_to 'Create New Meter', new_meter_path %></li>
    </ul>
    <h1>Meters</h1>
  </header>

  <ul class="info-list">
    <% @meters.each do |meter| %>
      <li>
        <article class="meter-box">
          <h3><%= link_to meter.name, meter_path(meter) %></h3>
        </article>
      </li>
    <% end %>
  </ul>
</main>
