<main class="meter-index">
  <header>
    <ul class="admin-bar">
      <li><%= link_to image_tag("icons/svg/create.svg", alt:"Create Meter", title:"Create Meter", class:"user-icon"), new_meter_path, id:"create-meter" %></li>
    </ul>
    <h1>Meters</h1>
  </header>

  <ul class="info-list">
    <% @meters.each do |meter| %>
      <li>
        <article class="meter-box">
          <h3><%= link_to meter.name, meter_path(meter) %>
            <% if @admin_user %>
              <ul class="admin-bar">
                <li><%= link_to image_tag("icons/svg/trashcan.svg", alt:"Delete", title:"Delete", class:"icon"), meter, method: :delete, data: { confirm: 'Are you sure?' }, id:"delete-meter" %></li>
                <li><%= link_to image_tag("icons/svg/pencil.svg", alt:"Edit", title:"Edit",
                class:"icon"), edit_meter_path(meter), id:"edit-meter" %></li>
              </ul>
            <% end %>
          </h3>
        </article>
      </li>
    <% end %>
  </ul>
</main>
