<main class="meter-show">
  <% if @admin_user %>
  <header>
    <ul class="user-bar">
      <li><%= link_to image_tag("trashcan.svg", alt:"Delete", title:"Delete", class:"icon"), @meter, method: :delete, data: { confirm: 'Are you sure?' }, id:"delete-meter" %></li>
      <li><%= link_to image_tag("pencil.svg", alt:"Edit", title:"Edit",
      class:"icon"), edit_meter_path(@meter), id:"edit-meter" %></li>
    </ul>
  </header>
  <% end %>

  <h1><%= @meter.name %></h1>
</main>
