<main class="key-show">
  <% if @admin_user %>
    <aside>
      <ul class="user-bar">
        <li><%= link_to image_tag("icons/svg/trashcan", alt:"Delete", title:"Delete", class:"icon"), @key, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <li><%= link_to image_tag("icons/svg/pencil", alt:"Edit", title:"Edit",
        class:"icon"), edit_key_path(@key) %></li>
      </ul>
    </aside>
  <% end %>

  <h2><%= @key.name %></h2>
</main>
