<main class="dance-index">
  <header class="user-bar">
    <ul class="user-bar">
      <li><%= link_to image_tag("icons/svg/create", alt:"Create Dance", title:"Create Dance", class:"user-icon"), new_dance_path %></li>
    </ul>
    <h1>Dance List</h1>
  </header>

  <ul class="dance-list">
    <% @dances.each do |dance| %>
      <li>
        <%= render 'dance_box', dance: dance %>
      </li>
    <% end %>
  </ul>
</main>
