<main id="dance-new" class="dance-new">
  <h1>Create your new dance.</h1>
  <div class='alert'>
    <p>You, the user, are responsible for knowing if a dance is free to share before posting it to the site. My Terpsichore takes no responsiblity for the posting of copyrighted or trademarked information.</p>
  </div>
  <%= render 'form', dance: @dance, dance_direction: @dance_direction %>
</main>
