<main class="formation-show">
  <% if @admin_user %>
    <aside>
      <ul class="user-bar">
        <li><%= link_to image_tag("icons/svg/trashcan", alt:"Delete", class:"icon"), @formation, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <li><%= link_to image_tag("icons/svg/pencil", alt:"Edit",
        class:"icon"), edit_formation_path(@formation) %></li>
      </ul>
    </aside>
  <% end %>

  <h2><%= @formation.name %></h2>
  <p><%= @formation.description %></p>
</main>
