<main class="formation-show">
  <% if @admin_user %>
    <aside>
      <ul class="user-bar">
        <li><%= link_to image_tag("icons/svg/trashcan", alt:"Delete", title:"Delete", class:"icon"), @formation, method: :delete, data: { confirm: 'Are you sure?' }, id:"delete-formation" %></li>
        <li><%= link_to image_tag("icons/svg/pencil", alt:"Edit", title:"Edit",
        class:"icon"), edit_formation_path(@formation), id:"edit-formation" %></li>
      </ul>
    </aside>
  <% end %>

  <h1><%= @formation.name %></h1>
  <p><%= @formation.description %></p>
</main>
