$color-black: #000000;

$color-med-grey: #cecaca;
$color-dark-grey: #888888;
$color-light-grey: #dcdcdc;

$color-white: #ffffff;

$color-red: #660000;
$color-teal: #0C656F;

$color-gold: #cc9229;
$color-dark-gold: #a26515;
