@import "colors";

th.seq,
td.seq {
  width: 8px;
}

th.mar,
td.mar {
  width: 5%;
}

th.mea,
td.mea {
  width: 5%;
}

th.pos,
td.pos {
  width: 10%;
}

th.but,
td.but {
  width: 4px;
}

td.dir {
  text-align: left;
}

.dance-directions-table {
  border: 1px solid $color-black;
  border-collapse: collapse;
  font-size: 1.2857em; // 18px; //
  text-align: center;
  vertical-align: top;
  width: 100%;

  th,
  td {
    border-bottom: 1px solid $color-dark-grey;
    padding: 2px;
  }

  tr:hover {
    background-color: $color-white;
  }
}

.dd-form {
  border: 1px solid $color-black;
  border-collapse: collapse;
  text-align: center;
  vertical-align: top;
  width: 100%;


  th,
  td {
    border-bottom: 1px solid $color-dark-grey;
    padding: 0 8px 0 0;

    input {
      width: 100%;
    }
  }
}
