@import "colors";

.forms {
  .hidden-label label {
    display: none;
  }

  label {
    font-weight: bold;
    margin: 10px 10px 10px 0;
  }

  input {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 3px;
  }

  .short>input {
    width: 30%;
  }

  .medium>input {
    width: 50%;
  }

  .long>input {
    width: 70%;
  }

  select {
    font-size: 14px;
    margin: 0 10px 10px 0;
    padding: 3px;
  }

  textarea {
    display: block;
    font-size: 14px;
    height: auto;
    margin-bottom: 10px;
    padding: 3px;
    width: 100%;
  }

  fieldset {
    h1 {
      font-weight: bold;
      font-size: 16px;
      margin: 0 5px 0 5px;
      padding: 5px;
    }

    div {
      display: inline;
      margin: 0 15px 5px 15px;
    }

    input{
      margin: 0 5px;
      width: auto;
    }

    textarea {
      display: block;
      font-size: 14px;
      height: auto;
      margin: 10px;
      width: 95%;
    }
  }

  .ref-button,
  .new-button,
  .actions input {
    background-color: $color-dark-grey;
    border: 2px solid $color-black;
    box-shadow: 5px 5px 3px $color-dark-grey;
    display: inline;
    font-size: 12px;
    margin: 3px;
    padding: 2px 4px;
    transition: all 1s ease-in-out;
    width: auto;
  }

  .new-button {
    border-radius: 10%;
    margin: 0 5px;
  }

  .ref-button {
    border-radius: 10%;
  }

  .ref-button:hover,
  .new-button:hover,
  .actions input:hover {
    background: radial-gradient($color-med-grey, $color-dark-grey);
  }

  .ref-button a:hover,
  .new-button a:hover,
  .actions input:hover {
    color: inherit;
    text-decoration: none;
  }
}
