@import "colors";

// Basic Sitewide CSS Styles
.hidden-all {
  display: none;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: linear-gradient(to bottom, $color-med-grey, $color-white);
  font-size: 87.5%; // 14px; //
  width: 100%;
}

h1 {
  font-size: 2.2em; // 30px; //
  margin: 15px 0;
}

h2 {
  font-size: 2em;  // 28px; //
  margin: 10px 0;
}

h3 {
  font-size: 1.8571em;  // 26px; //
  margin: 5px 0;
}

h4 {
  font-size: 1.7142em;  // 24px; //
  margin: 3px 0;
}

h5 {
  font-size: 1.5714em;  // 22px; //
  margin: 2px 0;
}

h6 {
  font-size: 1.4285em;  // 20px; //
  margin: 1px 0;
}

p,
label,
input {
  font-size: 1.1428em; // 16px; //
}

main {
  padding: 0 2.040816%; // 0 20px; //
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $color-gold;
  text-decoration: underline;
}

header>a {
  font-size: 0.8571em; // 12px; //
}

.left {
  float: left;
}

.right {
  float: right;
}

// Sitewide Header
.top-bar {
  background-color: $color-teal;
  border-bottom: 3px solid $color-black;
  color: $color-white;
  padding: 1.020408% 2.040816%; // 10px 20px; //
  text-shadow: 1px 3px 1px $color-black;
}

header aside {
  height: 60px;

  .my-terp-logo {
    padding-top: 1px;
    width: 400px;
  }

  ul {
    padding-top: 50px;
  }

  li {
    display: inline;
    font-size: 1em;
    padding: 0 8px;
  }
}

.flex-container {
  display: -webkit-flex;
  display: flex;
}

// Sitewide top nav bar
.nav-bar {
  color: $color-white;
  font-size: 1.5em;
  order: 2;
  padding: 2px 15px 2px 5px;
  text-align: center;
  text-shadow: 1px 3px 1px $color-black;

  .eliza-brun {
    height: 250px;
    left: 0;
  }

  li {
    background-color: $color-teal;
    border: 2px solid $color-black;
    display: block;
    margin: 5px 0;
    padding: 5px;
  }

  li:hover {
    background-color: $color-gold;

    a:hover{
      color: $color-white;
      text-decoration: none;
    }
  }
}

// Sitewide user bars
.user-bar li {
  display: inline;
  float: right;
  font-size: 12px;
  margin-top: 14px;
  padding-right: 8px;
}

.main-data {
  width: 100%;
}

// Sitewide general

fieldset {
  border: 1px solid $color-black;
  margin-bottom: 15px;

  legend{
    font-weight: bold;
    font-size: 20px;
    margin: 0 5px;
    padding: 0 5px;
  }
}

// Sitewide bottom lines
.bottom-line {
  text-align: center;
}

// Sitewide Footer
.bottom-bar {
  background-color: $color-teal;
  border-top: 3px solid $color-black;
  color: $color-white;
  margin-top: 20px;
  padding: 1.020408% 2.040816%; // 10px 20px; //
  text-shadow: 1px 3px 1px $color-black;

  h1 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: normal;
    text-align: center;
  }
}

//-------------------------------MEDIA QUERIES-------------------------------//

//--Tablet Portrait and Smart Phone Landscape--//
@media only screen and (max-width: 850px) {

  // Basic Sitewide CSS Styles
  html {
    font-size: 15px;
  }

  // Sitewide Header
  header aside {
    height: 60px;

    .my-terp-logo {
      float: left;
      padding-top: 1px;
      width: 300px;
    }

    ul {
      padding-top: 36px;
    }
  }

  .flex-container {
    display: block;
  }

  // Sitewide top nav bar
  .nav-bar {
    align-items: center;
    background-color: $color-teal;
    color: $color-white;
    display: -webkit-flex;
    display: flex;
    margin-bottom: 20px;
    padding: 1.020408% 2.040816%; // 10px 20px; //
    text-align: center;
    text-shadow: 1px 3px 1px $color-black;

    .eliza-brun {
      height: 150px;
      order: 2;
    }

    ul {
      margin-top: 0;
      order: 1;

      li{
        border: none;
        display: inline-block;
        padding: 3px 20px;
      }

      li:hover {
        background-color: $color-teal;

        a:hover{
          color: $color-gold;
          text-decoration: underline;
        }
      }
    }
  }

  // Sitewide Footer
  .bottom-bar {
    margin-top: 15px;
  }
}

//------------Smart Phone Portrait-------------//
@media only screen and (max-width: 499px) {

  // Basic Sitewide CSS Styles
  html {
    font-size: 14px;
  }

  // Sitewide Header
  header aside {
    height: 60px;

    .my-terp-logo {
      float: left;
      margin-top: 10px;
      padding-top: 1px;
      width: 200px;
    }

    ul {
      padding-top: 31px;
    }
  }

  // Sitewide top nav bar
  .eliza-brun {
    display: none;
  }

  // Sitewide Footer
  .bottom-bar {
    margin-top: 10px;
  }
}

//------------Smart Phone Portrait-------------//
@media only screen and (max-width: 370px) {

  // Basic Sitewide CSS Styles
  // Sitewide Header
  header aside {
    ul {
      padding-top: 15px;
    }

    li {
      display: block;
      font-size: 12px;
      padding: 1px 8px;
    }
  }

  // Sitewide Footer
  .bottom-bar {
    margin-top: 10px;
  }
}
